
.ui-icon-maps {
    background:url(../images/maps.png) no-repeat;
}
.ui-icon-tel {
    background:url(../images/phone.png) no-repeat;
}
.menu li{
font-style:italic;
font-size:90%;
    color:red;
}
img{
max-width: 100%;
height: auto; width: auto;
box-sizing: border-box;
}

#map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
 }

#footer
{
margin:0;
}

[data-role=footer]{bottom:0; margin-left:0;  position:relative; top: auto !important; width:100%;}
[data-role=page]{height: 100% !important; position:absolute!important;
}


