.classement {
    display: inline-bloc;
    background: url(images/pagination.png) no-repeat 0 -182px;
    height: 22px;
    text-indent: -999px;
    font-size: 0px;
}
.choice .one {
    width: 30px;
}
.choice .two {
    width: 55px;
}
.choice .three {
    width: 75px;
}
.choice .four {
    width: 99px;
}
.ui-icon-maps {
    background: blue url(images/maps.png) no-repeat;
}
.ui-icon-tel {
    background: blue url(images/phone.png) no-repeat;
}
